<html>
  <head>

    <style>
      .center_div { }
    </style>

  </head>
  <body>
    <h1 align="center">Hospital Portal</h1>
    <br /><br /><br />
    <div align="center" class="center_div">
      <a href="/add">
        <h3> Add your hospital details</h3></a>
      <a href="/hospital">
        <h3>Update my hospital details</h3></a>
    </div>

  </body>
</html>